<% provide(:title, 'My Dashboard') %>
<!--=== Profile ===-->
<div class="profile">
	<div class="container content">
		<div id="top_page_message"></div>
		<div id="provider_edit_alert"></div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#provider_appointments_tab" onclick="resetProviderDashBoard()" aria-controls="provider_appointments_tab" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i> Appointments</a></li>
			<li role="presentation"><a href="#provider_past_appointments_tab" onclick="resetProviderDashBoard()" aria-controls="provider_past_appointments_tab" role="tab" data-toggle="tab"><i class="fa fa-archive"></i> Past Appointments</a></li>
			<li role="presentation"><a href="#provider_schedule_tab" onclick="resetProviderDashBoard()" aria-controls="provider_schedule_tab" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i> My Schedule</a></li>
			<li role="presentation"><a href="#provider_personal_profile" onclick="resetProviderDashBoard()" aria-controls="provider_personal_profile" role="tab" data-toggle="tab"><i class="fa fa-user"></i> My Profile</a></li>
		</ul>
		<%= csrf_meta_tag %>
		<input type="hidden" name="provider_id" id="provider_id" value="<%= @provider.id %>">
		<input type="hidden" name="providers_list" id="providers_list" value="<%= @provider.id %>">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="provider_appointments_tab">
				<div id="pending_appointments">
					<% if @pending_appointments.length > 0  %>
						<br><br>
						<h1><i class="fa fa-inbox"></i> Pending</h1>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Client</th>
									<th>Date</th>
									<th align="center">Accept</th>
									<th align="center">Deny</th>
								</tr>
							</thead>
							<tbody>
								<% @pending_appointments.each_with_index do |appointment, index| %>
									<tr class="lead">
										<td><a href="javascript: showAppointmentDetail(<%= appointment.id %>, 1);" class="text-primary"><%= appointment.client.first_name %> <%= appointment.client.last_name %></a></td>
										<td><%= (appointment.start + 20.minutes).strftime("%H:%M:%S - %A, %B %dth, %Y") %></td>
										<td align="center"><a href="javascript: acceptAppointmentWizard(<%= appointment.id %>, 1);" class="text-primary"><i class="fa fa-thumbs-o-up"></i></a></td>
										<td align="center"><a href="javascript: denyAppointmentWizard(<%= appointment.id %>, 1);" class="text-danger"><i class="fa fa-thumbs-o-down"></i></a></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<hr>
					<% end %>
				</div>
				<div id="confirmed_appointments">
					<% if @confirmed_appointments.length > 0 %>
						<br><br>
						<h1><i class="fa fa-thumbs-o-up"></i> Confirmed</h1>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Client</th>
									<th>Date</th>
									<th align="center">Deny</th>
								</tr>
							</thead>
							<tbody>
								<% @confirmed_appointments.each_with_index do |appointment, index| %>
									<tr class="lead">
										<td><a href="javascript: showAppointmentDetail(<%= appointment.id %>, 1);" class="text-primary"><%= appointment.client.first_name %> <%= appointment.client.last_name %></a></td>
										<td><%= (appointment.start + 20.minutes).strftime("%H:%M:%S - %A, %B %dth, %Y") %></td>
										<td align="center"><a href="javascript: denyAppointmentWizard(<%= appointment.id %>, 1);" class="text-danger"><i class="fa fa-thumbs-o-down"></i></a></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
				</div>
				<div id="no_appointments" style="padding-bottom: 60px;">
					<% if @pending_appointments.length == 0 and @confirmed_appointments.length == 0 %>
						<br><br>
						<h1>You have no appointments booked.</h1>
					<% end %>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="provider_past_appointments_tab">
				<div id="past_appointments">
					<% if @past_appointments.length > 0 %>
						<br><br>
						<h1><i class="fa fa-archive"></i> Past appointments</h1>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Client</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<% @past_appointments.each_with_index do |appointment, index| %>
									<tr class="lead">
										<td><a href="javascript: showAppointmentDetail(<%= appointment.id %>, 1, true);" class="text-primary"><%= appointment.client.first_name %> <%= appointment.client.last_name %></a></td>
										<td><%= (appointment.start + 20.minutes).strftime("%H:%M:%S - %A, %B %dth, %Y") %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
				</div>
				<div id="no_appointments" style="padding-bottom: 60px;">
					<% if @past_appointments.length == 0 %>
						<br><br>
						<h1>You have no past appointments.</h1>
					<% end %>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="provider_schedule_tab">
				<br>
				<div class="alert alert-info" role="alert">
					<p class="text-center"><strong><i class="fa fa-asterisk"></i> This schedule needs to be updated whenever your weekly plans change.</strong></p>
				</div>
				<br>
				<div class="row">
					<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
						<p><i class="fa fa-hand-o-right"></i> Block the time spaces when you don't want to be available for bookings.</p>
						<p><i class="fa fa-hand-o-right"></i> When an appointment is booked, the immediate half hour befor and the immediate half hour later are going to become unavailable.</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" align="center">
						<table class="table table-bordered">
							<thead align="center">
								<tr class="info">
									<th class="text-center"><a href="javascript: weekProviderSchedule(<%= (Date.today - 0.week).strftime('%U, %Y') %>, <%= current_provider.id %>)" id="provider_prev_week_button"><i class="fa fa-chevron-left"></i></a></th>
									<th colspan="6" class="text-center" id="provider_month_year_display"><%= Date::MONTHNAMES[Date.today.month] + " " + Date.today.strftime('%Y') %></th>
									<th class="text-center"><a href="javascript: weekProviderSchedule(<%= (Date.today + 2.week).strftime('%U, %Y') %>, <%= current_provider.id %>)" id="provider_next_week_button"><i class="fa fa-chevron-right"></i></a></th>
								</tr>
								<tr class="active">
									<th></th>
									<th class="text-center">Sunday</th>
									<th class="text-center">Monday</th>
									<th class="text-center">Tuesday</th>
									<th class="text-center">Wednesday</th>
									<th class="text-center">Thursday</th>
									<th class="text-center">Friday</th>
									<th class="text-center">Saturday</th>
								</tr>
								<tr>
									<th class="text-center success"></th>
									<th class="text-center success" id="weekday_0"><%= (Date.today.beginning_of_week - 1.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_1"><%= (Date.today.beginning_of_week + 0.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_2"><%= (Date.today.beginning_of_week + 1.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_3"><%= (Date.today.beginning_of_week + 2.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_4"><%= (Date.today.beginning_of_week + 3.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_5"><%= (Date.today.beginning_of_week + 4.day).strftime('%m/%d') %></th>
									<th class="text-center success" id="weekday_6"><%= (Date.today.beginning_of_week + 5.day).strftime('%m/%d') %></th>
								</tr>
							</thead>
							<tbody id="provider_weekly_schedule_desktop">
								<% (6..20).each do |i| %>
									<tr>
										<td rowspan="2"><%= "#{i.to_s.rjust(2, '0')}:00" %></td>
										<% (0..6).each do |j| %>
											<% if current_provider.time_available("#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_00") %>
												<td id="<%= "#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_00" %>" class="<%= current_provider.time_unavailable("#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_00") ? "schedule-blocked danger" : "schedule-free" %>" OnClick="switchProviderTimeAvailability(<%= current_provider.id %>, '<%= "#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_00" %>');"></td>
											<% else %>
												<td class="schedule-blocked-appointment"></td>	
											<% end %>
										<% end %>
									</tr>
									<tr>
										<% (0..6).each do |j| %>
											<% if current_provider.time_available("#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_30") %>
												<td id="<%= "#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_30" %>" class="<%= current_provider.time_unavailable("#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_30") ? "schedule-blocked danger" : "schedule-free" %>" OnClick="switchProviderTimeAvailability(<%= current_provider.id %>, '<%= "#{(Date.today.beginning_of_week + (j - 1).day).strftime('%Y_%m_%d')}_#{j}_#{i.to_s.rjust(2, '0')}_30" %>');"></td>
											<% else %>
												<td class="schedule-blocked-appointment"></td>	
											<% end %>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="provider_personal_profile">
				<br><br>
				<div role="tabpanel">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#provider_picture_tab" onclick="resetProviderDashBoard()" aria-controls="provider_picture_tab" role="tab" data-toggle="tab"><i class="fa fa-picture-o"></i> Picture</a></li>
						<li role="presentation"><a href="#provider_primary_profile_tab" onclick="resetProviderDashBoard()" aria-controls="provider_primary_profile_tab" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Personal Info</a></li>
						<li role="presentation"><a href="#provider_secondary_profile_tab" onclick="resetProviderDashBoard()" aria-controls="provider_secondary_profile_tab" role="tab" data-toggle="tab"><i class="fa fa-bookmark"></i> Features</a></li>
						<li role="presentation"><a href="#provider_payment_tab" aria-controls="provider_payment_tab" role="tab" data-toggle="tab"><i class="fa fa-credit-card"></i> Policies</a></li>
						<li role="presentation"><a href="#provider_change_password_tab" aria-controls="provider_change_password_tab" role="tab" data-toggle="tab"><i class="fa fa-lock"></i> Password</a></li>
					</ul>
					
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="provider_picture_tab">
							<br><br>
							<div class="row">
								<div class="col-sm-12 col-md-12" align="center">
									<div class="input-group">
										<span class="input-group-btn">
											<div class="fileUpload btn btn-primary btn-lg">
												<span id="upload_button"><i class="fa fa-laptop"></i> Upload from my computer</span>
												<input type="file" class="upload" id="provider_picture_file" onchange="uploadProviderPictureSelf('<%= @provider.id %>', this);">
											</div>
										</span>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-6 col-md-6 col-md-offset-3" align="center">
									<div id="provider_picture_spin_container"></div>
									<div id="provider_image_container">
										<% if @provider.picture_path.present? %> 
											<img id="provider_main_image" class="img-thumbnail" src="<%= @provider.picture_path %>" alt="">
										<% else %>
											<img id="provider_main_image" class="img-thumbnail" src="../assets/img/profile_pic/provider_without_picture.png" alt="">
										<% end %>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-6 col-md-6 col-md-offset-3" align="center">
									<div id="provider_image_container_buttons" style="display: none;">
										<a href="javascript: uploadProviderPictureSelfCancel();" class="btn btn-default pull-left"><i class="fa fa-remove"></i> Cancel</button>
										<a href="javascript: uploadProviderPictureSelfGo();" class="btn btn-danger pull-right"><i class="fa fa-check"></i> Save</a>
									</div>
								</div>
							</div>
							<div class="modal fade" id="provider_image_preview_modal" tabindex="-1" role="dialog" aria-labelledby="providerImagePreviewModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Picture upload</h4>
										</div>
										<div class="modal-body">
											<p class="lead">Is this the picture you would like to use in your profile?</p>
											<br><br>
										  <div id="provider_image_container_modal" align="center">
										  	<img id="provider_main_image_modal" style="width: 250px;" class="img-thumbnail" src="" alt="">
										  </div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> No</button>
											<a href="javascript: uploadProviderPictureSelfGo();" class="btn btn-danger"><i class="fa fa-check"></i> Yes</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="provider_primary_profile_tab">
							<br><br>
							<div class="row">
								<div class="col-sm-12 col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-5 col-md-offset-1">
											<label for="provider_first_name">First name</label>
											<input type="text" name="provider[first_name]" id="provider_first_name" class="form-control" placeholder="First name" value="<%= @provider.first_name %>" disabled="disabled">
										</div>
										<div class="col-md-5">
											<label for="provider_last_name">Last name</label>
											<input type="text" name="provider[last_name]" id="provider_last_name" class="form-control" placeholder="Last name" value="<%= @provider.last_name %>" disabled="disabled">
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-5 col-md-offset-1">
											<label for="provider_email">Email</label>
											<input type="text" name="provider[email]" id="provider_email" class="form-control" placeholder="Email" value="<%= @provider.email %>" disabled="disabled">
										</div>
										<div class="col-md-5 col-md-offset-0">
											<label for="provider_phone">Phone</label>
											<input type="text" name="provider[phone]" id="provider_phone" class="form-control" placeholder="Phone"  data-mask="(999) 999-9999" value="<%= @provider.phone %>" disabled="disabled">
										</div>                
									</div>
									<hr>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<label for="provider_expertise">Expertise</label>
											<input type="text" name="provider[expertise]" id="provider_expertise" class="form-control" placeholder="Expertise" value="<%= @provider.expertise %>" disabled="disabled">
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<label for="provider_abstract">Abstract</label>
											<textarea name="provider[abstract]" id="provider_abstract" class="form-control" placeholder="Abstract to be displayed as advertisement" rows="8" disabled="disabled"><%= @provider.abstract %></textarea>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<textarea name="provider[about]" id="provider_about" class="form-control" placeholder="About" rows="8" disabled="disabled"><%= @provider.about %></textarea>
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<a id="edit_provider_button" href="javascript: enableEditProvider();" class="btn btn-primary pull-left"><i class="fa fa-toggle-off"></i> Edit Info</a>
											<a id="save_provider_button" href="javascript: saveEditProvider();" class="btn-u pull-right" style="display: none;"><i class="fa fa-save"></i> Save Changes</a>
										</div>                
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="provider_secondary_profile_tab">
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h1><i class="fa fa-star"></i> Specialties</h1>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<textarea name="provider[specialty_text]" id="provider_specialty_text" class="form-control" placeholder="Specialty" rows="8" disabled="disabled"><%= @provider.specialty_text %></textarea>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<a id="edit_specialties_button" href="javascript: enableEditSpecialties();" class="btn btn-primary pull-left"><i class="fa fa-toggle-off"></i> Edit Specialties</a>
											<a id="save_specialties_button" href="javascript: saveProviderSpecialtyText();" class="btn-u pull-right" style="display: none;"><i class="fa fa-save"></i> Save Specialties Text</a>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h3>Specialties</h3>
											<div id="add_specialty_alert"></div>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-7 col-md-offset-1">
											<input class="form-control" name="new_specialty" id="new_specialty" type="text" placeholder="New Specialty">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn-u col-md-12" onclick="addSpecialtyToProvider();"><i class="fa fa-plus"></i> Add New Specialty</button>
										</div>                
									</div>
									<div class="row" id="specialties_list">
										<div class="col-sm-5 col-sm-offset-1">
											<% @provider.specialties.all.each_with_index do |specialty, index| %>
												<% if index < (@provider.specialties.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= specialty.specialty %>
														<button type="button" onclick="deleteSpecialtyToProvider(<%= specialty.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
										<div class="col-sm-5">
											<% @provider.specialties.all.each_with_index do |specialty, index| %>
												<% if index >= (@provider.specialties.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= specialty.specialty %>
														<button type="button" onclick="deleteSpecialtyToProvider(<%= specialty.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h1><i class="fa fa-briefcase"></i> Services</h1>
											<div id="add_service_alert"></div>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<textarea name="provider[service_text]" id="provider_service_text" class="form-control" placeholder="Service" rows="8" disabled="disabled"><%= @provider.service_text %></textarea>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<a id="edit_services_button" href="javascript: enableEditServices();" class="btn btn-primary pull-left"><i class="fa fa-toggle-off"></i> Edit Services</a>
											<a id="save_services_button" href="javascript: saveProviderServiceText();" class="btn-u pull-right" style="display: none;"><i class="fa fa-save"></i> Save Services Text</a>
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h3>Services</h3>
											<div id="add_service_alert"></div>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-7 col-md-offset-1">
											<input class="form-control" name="new_service" id="new_service" type="text" placeholder="New Service">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn-u col-md-12" onclick="addServiceToProvider();"><i class="fa fa-plus"></i> Add New Service</button>
										</div>                
									</div>
									<div class="row" id="services_list">
										<div class="col-sm-5 col-sm-offset-1">
											<% @provider.services.all.each_with_index do |service, index| %>
												<% if index < (@provider.services.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= service.service %>
														<button type="button" onclick="deleteServiceToProvider(<%= service.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
										<div class="col-sm-5">
											<% @provider.services.all.each_with_index do |service, index| %>
												<% if index >= (@provider.services.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= service.service %>
														<button type="button" onclick="deleteServiceToProvider(<%= service.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h1><i class="fa fa-graduation-cap"></i> Certifications</h1>
											<div id="add_certification_alert"></div>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-7 col-md-offset-1">
											<input class="form-control" name="new_certification" id="new_certification" type="text" placeholder="New Certification">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn-u col-md-12" onclick="addCertificationToProvider();"><i class="fa fa-plus"></i> Add New Certification</button>
										</div>                
									</div>
									<div class="row" id="certifications_list">
										<div class="col-sm-5 col-sm-offset-1">
											<% @provider.certifications.all.each_with_index do |certification, index| %>
												<% if index < (@provider.certifications.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= certification.certification %>
														<button type="button" onclick="deleteCertificationToProvider(<%= certification.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
										<div class="col-sm-5">
											<% @provider.certifications.all.each_with_index do |certification, index| %>
												<% if index >= (@provider.certifications.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= certification.certification %>
														<button type="button" onclick="deleteCertificationToProvider(<%= certification.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h1><i class="fa fa-map-marker"></i> Areas Served</h1>
											<div id="add_area_alert"></div>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-7 col-md-offset-1">
											<input class="form-control" name="new_area" id="new_area" type="text" placeholder="New Area">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn-u col-md-12" onclick="addAreaToProvider();"><i class="fa fa-plus"></i> Add New Area</button>
										</div>                
									</div>
									<div class="row" id="areas_list">
										<div class="col-sm-5 col-sm-offset-1">
											<% @provider.areas.all.each_with_index do |area, index| %>
												<% if index < (@provider.areas.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<i class="fa fa-check color-green"></i> <%= area.area %>
														<button type="button" onclick="deleteAreaToProvider(<%= area.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>
												<% end %> 
											<% end %>
										</div>
										<div class="col-sm-5">
											<% @provider.areas.all.each_with_index do |area, index| %>
												<% if index >= (@provider.areas.length / 2.0) %>
													<div class="alert alert-info" role="alert">
														<button type="button" onclick="deleteAreaToProvider(<%= area.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
														<i class="fa fa-check color-green"></i> <%= area.area %>
													</div>
												<% end %> 
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="provider_payment_tab">
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<textarea name="provider[policies]" id="provider_policies" class="form-control" placeholder="Payment & Policies" rows="8" disabled="disabled"><%= @provider.policies %></textarea>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<a id="edit_policies_button" href="javascript: enableEditPolicies();" class="btn btn-primary pull-left"><i class="fa fa-toggle-off"></i> Edit Policies</a>
											<a id="save_policies_button" href="javascript: saveProviderPoliciesText();" class="btn-u pull-right" style="display: none;"><i class="fa fa-save"></i> Save Payment & Policies</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="provider_change_password_tab">
							<br><br>
							<div class="row">
								<div class="col-md-12">
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<h1><i class="fa fa-lock"></i> Change Password</h1>
										</div>                
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-6 col-md-offset-3">
											<label for="provider_old_password">Old Password</label>
											<input type="password" class="form-control" placeholder="Old Password" name="provider[old_password]" id="provider_old_password" required="required">
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-6 col-md-offset-3">
											<label for="provider_password">Password</label>
											<input type="password" class="form-control" placeholder="Password" name="provider[password]" id="provider_password" required="required">
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-6 col-md-offset-3">
											<label for="provider_password_confirmation">Password confirmation</label>
											<input type="password" class="form-control" placeholder="Password confirmation" name="provider[password_confirmation]" id="provider_password_confirmation" required="required">
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1" align="center">
											<!-- <a href="javascript: generatePasswordProvider();" class="btn btn-primary"><i class="fa fa-refresh"></i> Generate password</a>-->
											<a href="javascript: selfChangeProviderPassword();" class="btn-u"><i class="fa fa-save"></i> Save password</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div><!--/container-->    
</div>		
<!--=== End Profile ===-->