<% provide(:title, 'Profile Detail') %>
    <!--=== Profile ===-->
    <div class="profile">	
        <div class="container content">
        	<div class="row">
                <div class="col-md-12">
                    <!--Profile Body-->
                    <div class="profile-body">
                        <div class="profile-bio">
                            <div class="row">
                                <div class="col-sm-5 col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="assets/img/profile_pic/<%= @provider.name.downcase.gsub(" ", "_") %>.jpg" alt="<%= @provider.name %> - <%= @provider.expertise %>">
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <h1><%= @provider.name %></h1>
                                    <h2><%= @provider.expertise %></h2>
                                    <hr>
                                    <p> </p>
                                </div>
                            </div>    
                        </div><!--/end row-->
                        
                        <div class="clearfix margin-bottom-30"></div>
                        
                        <!-- Therapist Bio -->
                        <div class="shadow-wrapper">
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <h2>About</h2>
                                <p><%= @provider.about %></p> 
                            </div>
                        </div>

<!--Specialities-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Specialities & Services Offered</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <p><%= @provider.speciality %></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Prenatal Massage</li>
                                            <li><i class="fa fa-check color-green"></i> Doula Services </li>
                                            <li><i class="fa fa-check color-green"></i> Labor Support</li>
                                            <li><i class="fa fa-check color-green"></i> Birth and Delivery support</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Lactation and Breastfeeding Support</li>
                                            <li><i class="fa fa-check color-green"></i> Video and Photography upon request/li>
                                            <li><i class="fa fa-check color-green"></i> Home Postpartum Visit</li>
                                            <li><i class="fa fa-check color-green"></i> Informational and Emotional Support</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Specialties-->

                        <!--Certifications-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Certifications</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <p><p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Certified Prenatal Massage Therapist</li>
                                                                                    </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> DONA Certified Birth Doula</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Certifications-->


                        

                         <!--Areas-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Areas Served</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> San Jose</li>
                                            <li><i class="fa fa-check color-green"></i> Santa Cruz</li>
                                            <li><i class="fa fa-check color-green"></i> South Bay</li>
                                            <li><i class="fa fa-check color-green"></i> Peninsula</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Oakland</li>
                                            <li><i class="fa fa-check color-green"></i> San Francisco</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Areas-->

                        
                        <!-- Appointment -->                        
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Schedule an Appointment</h2>
                                <a href="profile_users.html" class="btn-u btn-u-xs rounded-2x pull-right">Book Now</a>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <div id="my-calendar"></div>
                            </div>
                        </div>
                        <!-- End Appointment -->
                        
                        <!-- Review -->
                        <div class="shadow-wrapper">
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <center><h2>Reviews</h2></center>
                                <p></p>
                            </div>
                        </div>
                        <!-- End Review -->
                    </div>
                    <!--End Profile Body-->
                </div>
            </div><!--/end row-->
        </div><!--/container-->    
    </div>		
    <!--=== End Profile ===-->
