<% provide(:title, 'Profile Edit') %>
    <!--=== Profile ===-->
    <div class="profile">	
        <div class="container content">
        	<div class="row">
                <div class="col-md-12">
                    
                    <!--Profile Body-->
                    <div class="profile-body">
                        <div class="profile-bio">
                            <div class="row">
                                
                                <div class="col-sm-5 col-md-5">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="tag-box-v12">
                                                <div class="easy-block-v1">
                                                    <img class="img-responsive" src="assets/img/profile_pic/<%= (@provider.first_name + "_" + @provider.last_name).downcase %>.jpg" alt="<%= @provider.first_name %> - <%= @provider.expertise %>">
                                                </div>    
                                                <div class="projects">
                                                    <h4><%= @provider.first_name %> <%= @provider.last_name %></h4>
                                                    <ul class="list-unstyled list-inline blog-info-v2">
                                                        <li><%= @provider.expertise %></li>
                                                    </ul>
                                                    <p><%= @provider.abstract %></p>
                                                    <!--
                                                    <ul class="list-inline star-vote">
                                                        <li><i class="color-green fa fa-star"></i></li>
                                                        <li><i class="color-green fa fa-star"></i></li>
                                                        <li><i class="color-green fa fa-star"></i></li>
                                                        <li><i class="color-green fa fa-star-half-o"></i></li>
                                                        <li><i class="color-green fa fa-star-o"></i></li>
                                                    </ul>
                                                    -->
                                                </div>    
                                                <div class="project-share">
                                                    <div class="col-lg-6 col-lg-offset-3">
                                                        <%= link_to "View Profile", profile_detail_path(:id => @provider.id), class: "btn-u-xs btn-u rounded-2x" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h1>Primary profile</h1>
                                        </div>                
                                    </div>
                                    <%= form_for(@provider, url: provider_update_personal_path) do |f| %>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-5 col-md-offset-1">
                                                <%= f.label :first_name %>
                                                <%= f.text_field :first_name, class: "form-control", value: @provider.first_name, placeholder: "First name" %>
                                            </div>
                                            <div class="col-md-5">
                                                <%= f.label :last_name %>
                                                <%= f.text_field :last_name, class: "form-control", value: @provider.last_name, placeholder: "Last name" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <%= f.label :expertise, class: "col-md-10 col-md-offset-1" %>
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.text_field :expertise, class: "form-control", placeholder: "Name", value: @provider.expertise, required: "required" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <%= f.label :abstract, class: "col-md-10 col-md-offset-1" %>
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= text_area(:provider, :abstract, size: "20x8", class: "form-control") %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <%= f.label :email, class: "col-md-10 col-md-offset-1"  %>
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.text_field :email, class: "form-control", placeholder: "Email", required: "required" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.submit "Update my personal info", class: "btn-u pull-right" %>
                                            </div>                
                                        </div>
                                    <% end %>
                                    <hr>
                                    <%= form_for(@provider, url: provider_update_password_path) do |f| %>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-5 col-md-offset-1">
                                                <%= f.label :password %>
                                                <%= f.password_field :password, class: "form-control", placeholder: "Password", required: "required" %>
                                            </div>                
                                            <div class="col-md-5">
                                                <%= f.label :password_confirmation, "Password confirmation" %>
                                                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", required: "required" %>
                                            </div>                
                                        </div>

                                        <div class="row margin-bottom-20">
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.submit "Change my password", class: "btn-u pull-right" %>
                                            </div>                
                                        </div>
                                    <% end %>
                                    <p> </p>
                                </div>
                            </div>    
                        </div><!--/end row-->
                        
                        <div class="clearfix margin-bottom-30"></div>
                        

                        <div class="shadow-wrapper">
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <h1>Main profile information</h1>
                            </div>
                        </div>

                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user"></i>About</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <%= form_for(@provider, url: provider_update_about_path) do |f| %>
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <%= text_area(:provider, :about, size: "20x8", class: "form-control") %>
                                        </div>                
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <%= f.submit "Save about", class: "btn-u pull-right" %>
                                        </div>                
                                    </div>
                                <% end %>
                            </div>
                        </div>

                        <!--Specialities-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Specialities & Services Offered</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <%= form_for(@provider, url: provider_update_specialities_path) do |f| %>
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <%= text_area(:provider, :specialities, size: "20x8", class: "form-control") %>
                                        </div>                
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5  col-sm-offset-1">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Prenatal Massage</li>
                                                <li><i class="fa fa-check color-green"></i> Doula Services </li>
                                                <li><i class="fa fa-check color-green"></i> Labor Support</li>
                                                <li><i class="fa fa-check color-green"></i> Birth and Delivery support</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-5">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Lactation and Breastfeeding Support</li>
                                                <li><i class="fa fa-check color-green"></i> Video and Photography upon request</li>
                                                <li><i class="fa fa-check color-green"></i> Home Postpartum Visit</li>
                                                <li><i class="fa fa-check color-green"></i> Informational and Emotional Support</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <%= f.submit "Save about", class: "btn-u pull-right" %>
                                        </div>                
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <!--End Specialties-->

                        <!--Certifications-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Certifications</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <p><p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Certified Prenatal Massage Therapist</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> DONA Certified Birth Doula</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Certifications-->


                         <!--Areas-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Areas Served</h2>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> San Jose</li>
                                            <li><i class="fa fa-check color-green"></i> Santa Cruz</li>
                                            <li><i class="fa fa-check color-green"></i> South Bay</li>
                                            <li><i class="fa fa-check color-green"></i> Peninsula</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Oakland</li>
                                            <li><i class="fa fa-check color-green"></i> San Francisco</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Areas-->

                        
                        <!-- Appointment -->                        
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Schedule an Appointment</h2>
                                <a href="profile_users.html" class="btn-u btn-u-xs rounded-2x pull-right">Book Now</a>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <div id="my-calendar"></div>
                            </div>
                        </div>
                        <!-- End Appointment -->
                        
                        <!-- Review -->
                        <div class="shadow-wrapper">
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <center><h2>Reviews</h2></center>
                                <p></p>
                            </div>
                        </div>
                        <!-- End Review -->
                    </div>
                    <!--End Profile Body-->
                </div>
            </div><!--/end row-->
        </div><!--/container-->    
    </div>		
    <!--=== End Profile ===-->
