<% provide(:title, 'Profile Edit') %>
    <!--=== Profile ===-->
    <div class="profile">	
        <div class="container content">
        	<div class="row">
                <div class="col-md-12">
                    <!--Profile Body-->
                    <div class="profile-body">
                        <div class="profile-bio">
							<% flash.each do |key, value| %>
								<div class="alert alert-<%= key %>" role="alert"><strong><%= key %>!</strong> <%= value %>
								   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								</div>
							<% end %>
							<input type="hidden" name="c_provider_id" id="c_provider_id" value="<%= @provider.id %>">
							<!-- Picture begin -->
							<%= form_for(@provider, url: provider_update_picture_path) do |f| %>
								
								<div class="row">
									<div class="col-sm-10 col-md-10 col-md-offset-1">
										<h1><i class="fa fa-picture-o"></i> Picture</h1>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4 col-md-4 col-md-offset-1">
										<div class="input-group">
											<input class="form-control" id="mainImageLabel" placeholder="Chose your picture" disabled="disabled" />
											<span class="input-group-btn">
												<div class="fileUpload btn btn-primary">
													<span>Search</span>
													<%= f.file_field :picture, class: "upload", onchange: "readURL(this, 'mainImagePreview');" %>
												</div>	
											</span>
										</div>
										<br>
										<%= f.submit "Upload Picture", class: "btn-u", onclick: "return validateUploadPicture()"  %>
									</div>
									<div class="col-sm-2 col-md-2 col-md-offset-4">
										<% if !@provider.picture_path.nil? %>
											<img id="mainImagePreview" class="img-responsive img-thumbnail" src="<%= @provider.picture_path %>" alt="<%= @provider.first_name %> - <%= @provider.expertise %>">
										<% else %>
											<img id="mainImagePreview" class="img-responsive img-thumbnaile" src="../assets/img/profile_pic/provider_without_picture.png" alt="<%= @provider.first_name %> - <%= @provider.expertise %>">
										<% end %>									
									</div>
								</div>
                            <% end %>
                            <!-- Picture end -->
							<hr>
							<!-- Main begin -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h1><i class="fa fa-tty"></i> Primary profile</h1>
                                        </div>                
                                    </div>
                                    <%= form_for(@provider, url: provider_update_personal_path) do |f| %>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-5 col-md-offset-1">
                                                <%= f.label :first_name %>
                                                <%= f.text_field :first_name, class: "form-control", value: @provider.first_name, placeholder: "First name" %>
                                            </div>
                                            <div class="col-md-5">
                                                <%= f.label :last_name %>
                                                <%= f.text_field :last_name, class: "form-control", value: @provider.last_name, placeholder: "Last name" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <%= f.label :expertise, class: "col-md-10 col-md-offset-1" %>
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.text_field :expertise, class: "form-control", placeholder: "Expertise", value: @provider.expertise, required: "required" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-5 col-md-offset-1">
												<%= f.label :email %>
                                                <%= f.text_field :email, class: "form-control", placeholder: "Email", required: "required" %>
                                            </div>
                                            <div class="col-md-5 col-md-offset-0">
												<%= f.label :phone %>
                                                <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <%= f.label :abstract, class: "col-md-10 col-md-offset-1" %>
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= text_area(:provider, :abstract, size: "20x8", placeholder: "Abstract to be displayed as advertisement", class: "form-control") %>
                                            </div>                
                                        </div>
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-10 col-md-offset-1">
                                                <%= f.submit "Update my personal info", class: "btn-u pull-right" %>
                                            </div>                
                                        </div>
                                    <% end %>
                                    <p> </p>
                                </div>
                            </div>    
                            <!-- Main end -->
                            <hr>
                            <!-- About begin -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-user"></i> About</h1>
								</div>                
							</div>
                            <%= form_for(@provider, url: provider_update_about_path) do |f| %>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= text_area(:provider, :about, size: "20x8", class: "form-control") %>
									</div>
								</div>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= f.submit "Save About", class: "btn-u pull-right" %>
									</div>
								</div>
							<% end %>
                            <!-- About end -->
                            <hr>
                            <!-- Specialties begin -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-briefcase"></i> Specialties</h1>
								</div>                
							</div>
							<%= form_for(@provider, url: provider_update_specialty_text_path) do |f| %>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= text_area(:provider, :specialty_text, size: "20x4", class: "form-control") %>
									</div>                
								</div>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= f.submit "Save Specialties Text", class: "btn-u pull-right" %>
									</div>                
								</div>
							<% end %>
							<div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1>Specialties</h1>
									<div id="add_specialty_alert"></div>
								</div>                
							</div>
							<div class="row margin-bottom-20">
								<div class="col-md-7 col-md-offset-1">
									<input class="form-control" name="new_specialty" id="new_specialty" type="text" placeholder="New Specialty">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn-u col-md-12" onclick="addSpecialty();">Add New Specialty</button>
								</div>                
							</div>
							<div class="row" id="specialties_list">
								<div class="col-sm-5 col-sm-offset-1">
									<% @provider.specialties.all.each_with_index do |specialty, index| %>
										<% if index < (@provider.specialties.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= specialty.specialty %>
												<button type="button" onclick="deleteSpecialty(<%= specialty.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
								<div class="col-sm-5">
									<% @provider.specialties.all.each_with_index do |specialty, index| %>
										<% if index >= (@provider.specialties.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= specialty.specialty %>
												<button type="button" onclick="deleteSpecialty(<%= specialty.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
							</div>
                            <!-- Specialties end -->
                            <hr>
                            <!-- Services begin -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-briefcase"></i> Services Offered</h1>
								</div>                
							</div>
							<%= form_for(@provider, url: provider_update_service_text_path) do |f| %>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= text_area(:provider, :service_text, size: "20x4", class: "form-control") %>
									</div>                
								</div>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= f.submit "Save Services Text", class: "btn-u pull-right" %>
									</div>                
								</div>
							<% end %>
							<div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1>Services</h1>
									<div id="add_service_alert"></div>
								</div>                
							</div>
							<div class="row margin-bottom-20">
								<div class="col-md-7 col-md-offset-1">
									<input class="form-control" name="new_service" id="new_service" type="text" placeholder="New service">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn-u col-md-12" onclick="addService();">Add New Service</button>
								</div>                
							</div>
							<div class="row" id="services_list">
								<div class="col-sm-5 col-sm-offset-1">
									<% @provider.services.all.each_with_index do |service, index| %>
										<% if index < (@provider.services.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= service.service %>
												<button type="button" onclick="deleteService(<%= service.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
								<div class="col-sm-5">
									<% @provider.services.all.each_with_index do |service, index| %>
										<% if index >= (@provider.services.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= service.service %>
												<button type="button" onclick="deleteService(<%= service.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
							</div>
                            <!-- Services end -->
                            <hr>
                            <!-- Certifications begin -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-graduation-cap"></i> Certifications</h1>
									<div id="add_certification_alert"></div>
								</div>                
							</div>
							<div class="row margin-bottom-20">
								<div class="col-md-7 col-md-offset-1">
									<input class="form-control" name="new_certification" id="new_certification" type="text" placeholder="New certification">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn-u col-md-12" onclick="addCertification();">Add New Certification</button>
								</div>                
							</div>
							<div class="row" id="certifications_list">
								<div class="col-sm-5 col-sm-offset-1">
									<% @provider.certifications.all.each_with_index do |certification, index| %>
										<% if index < (@provider.certifications.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= certification.certification %>
												<button type="button" onclick="deleteCertification(<%= certification.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
								<div class="col-sm-5">
									<% @provider.certifications.all.each_with_index do |certification, index| %>
										<% if index >= (@provider.certifications.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= certification.certification %>
												<button type="button" onclick="deleteCertification(<%= certification.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
							</div>
                            <!-- Certifications end -->
                            <hr>
                            <!-- Areas end -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-map-marker"></i> Areas Served</h1>
									<div id="add_area_alert"></div>
								</div>                
							</div>
							<div class="row margin-bottom-20">
								<div class="col-md-7 col-md-offset-1">
									<input class="form-control" name="new_area" id="new_area" type="text" placeholder="New area">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn-u col-md-12" onclick="addArea();">Add New Area</button>
								</div>                
							</div>
							<div class="row" id="areas_list">
								<div class="col-sm-5 col-sm-offset-1">
									<% @provider.areas.all.each_with_index do |area, index| %>
										<% if index < (@provider.areas.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<i class="fa fa-check color-green"></i> <%= area.area %>
												<button type="button" onclick="deleteArea(<%= area.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											</div>
										<% end %> 
									<% end %>
								</div>
								<div class="col-sm-5">
									<% @provider.areas.all.each_with_index do |area, index| %>
										<% if index >= (@provider.areas.length / 2.0) %>
											<div class="alert alert-info" role="alert">
												<button type="button" onclick="deleteArea(<%= area.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<i class="fa fa-check color-green"></i> <%= area.area %>
											</div>
										<% end %> 
									<% end %>
								</div>
							</div>
                            <!-- Areas end -->
                            <hr>
                            <!-- Policies begin -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-briefcase"></i> Payment & Policies</h1>
								</div>                
							</div>
                            <%= form_for(@provider, url: provider_update_policies_path) do |f| %>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= text_area(:provider, :policies, size: "20x8", class: "form-control") %>
									</div>
								</div>
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<%= f.submit "Save Policies", class: "btn-u pull-right" %>
									</div>
								</div>
							<% end %>
                            <!-- Policies end -->
                            <hr>
                            <!-- Review -->
                            <div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1">
									<h1><i class="fa fa-group"></i> Reviews</h1>
									<div id="add_review_alert"></div>
								</div>                
							</div>
							<div class="row margin-bottom-20">
								<div class="col-md-10 col-md-offset-1 margin-bottom-20">
									<textarea class="form-control" name="new_review" id="new_review" placeholder="Review" rows="5"></textarea>
								</div>
								<div class="col-md-7 col-md-offset-1">
									<input class="form-control" name="new_author" id="new_author" type="text" placeholder="Author">
								</div>
								<div class="col-md-3">
									<button type="button" class="btn-u col-md-12" onclick="addReview();">Add New Review</button>
								</div>                
							</div>
							<div class="row" id="reviews_list">
								<div class="col-sm-10 col-sm-offset-1">
									<% @provider.reviews.all.each_with_index do |review, index| %>							
										<div class="alert alert-info" role="alert">
											<button type="button" onclick="deleteReview(<%= review.id %>);" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<blockquote>
												<%= simple_format("\"" + review.review + "\"", class: 'paragraph_bottom') %>
												<footer><%= review.author %></footer>
											</blockquote>
										</div>
									<% end %>
								</div>
							</div>
							<!-- End Review -->
                        </div>
                        <!--/end row-->
						<br>
                        <!-- Change password -->                        
                        <div class="panel panel-profile">
							<div class="panel-body margin-bottom-40">								
								<div class="row margin-bottom-20">
									<div class="col-md-10 col-md-offset-1">
										<h1><i class="fa fa-lock"></i> Change Password</h1>
									</div>                
								</div>
                                <%= form_for(@provider, url: provider_update_password_path) do |f| %>
									<div class="row margin-bottom-20">
										<div class="col-md-5 col-md-offset-1">
											<%= f.label :password %>
											<%= f.password_field :password, class: "form-control", placeholder: "Password", required: "required" %>
										</div>                
										<div class="col-md-5">
											<%= f.label :password_confirmation, "Password confirmation" %>
											<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", required: "required" %>
										</div>
									</div>
									<div class="row margin-bottom-20">
										<div class="col-md-10 col-md-offset-1">
											<%= f.submit "Change Password", class: "btn-u pull-right" %>
										</div>
									</div>
								<% end %>
                            </div>
                        </div>
                        <!-- Change password -->
                    </div>
                    <!--End Profile Body-->
                </div>
            </div><!--/end row-->
        </div><!--/container-->    
    </div>		
    <!--=== End Profile ===-->
