<% provide(:title, 'Profile List') %>
    <!--=== Profile ===-->
    <div class="profile container content">
        <div class="row">
            <div class="col-md-12">
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Projects-->
                    <div class="row">
                        <% @providers.each_with_index do |provider, index| %>
                            <div class="col-sm-3">
                                <div class="tag-box-v3">
                                    <div class="easy-block-v1">
                                        <img class="img-responsive" src="assets/img/profile_pic/<%= provider.name.downcase.gsub(" ", "_") %>.jpg" alt="<%= provider.name %> - <%= provider.expertise %>">
                                    </div>    
                                    <div class="projects">
                                        <h4><%= provider.name %></h4>
                                        <ul class="list-unstyled list-inline blog-info-v2">
                                            <li><%= provider.expertise %></li>
                                        </ul>
                                        <p><%= provider.abstract %></p>
                                        <!--
                                        <ul class="list-inline star-vote">
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star-half-o"></i></li>
                                            <li><i class="color-green fa fa-star-o"></i></li>
                                        </ul>
                                        -->
                                    </div>    
                                    <div class="project-share">
                                        <div class="col-lg-6 col-lg-offset-3">
                                            <%= link_to "View Profile", profile_detail_path(:name => provider.name), class: "btn-u-xs btn-u rounded-2x" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if (index + 1) % 4 == 0 & index < @providers.length - 1  %>
                                </div>
                                <hr>
                                <div class="row">
                            <% end %>
                        <% end %>
                    </div>
                    <hr>


                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->