<% provide(:title, 'Profile List') %>


	<!--=== Filter Block ===-->
	<div class="purchase">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 fadeInLeft">
					<span>Type a few words about what you are searching for&#8230;</span>
					<div class="input-group">
						<input name="filter" type="text" class="form-control" placeholder="Type a few letters or words" required>                            
						<div class="input-group-btn">
							<button class="btn-u" type="submit">Filter</button>
						</div>             
					</div>
				</div>            
			</div>
		</div>
	</div>
    <!-- Filter Block -->

    <!--=== Profile ===-->
    <div class="profile container content">
        <div class="row">
            <div class="col-md-12">
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Projects-->
                    <div class="row">
                        <% @providers.each_with_index do |provider, index| %>
                            <div class="col-sm-3">
                                <div class="tag-box-v3">
									<% if !provider.picture_path.nil? %>
										<div class="easy-block-v1">
											<%= link_to eval(provider.profile + '_path') do %>
												<img class="img-responsive" src="<%= provider.picture_path %>" alt="<%= provider.first_name %> - <%= provider.expertise %>">
											<% end %>
										</div>    
									<% end %>
                                    <div class="projects">
										<%= link_to eval(provider.profile + '_path') do %>
											<h4><%= provider.first_name %> <%= provider.last_name %></h4>
                                        <% end %>
                                        <ul class="list-unstyled list-inline blog-info-v2">
                                            <li><%= provider.expertise %></li>
                                        </ul>
                                        <p><%= provider.abstract %></p>
                                        <!--
                                        <ul class="list-inline star-vote">
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star"></i></li>
                                            <li><i class="color-green fa fa-star-half-o"></i></li>
                                            <li><i class="color-green fa fa-star-o"></i></li>
                                        </ul>
                                        -->
                                    </div>    
                                    <div class="project-share">
                                        <div class="col-lg-6 col-lg-offset-3">
											
                                            <%= link_to "View Profile", eval(provider.profile + '_path'), class: "btn-u-xs btn-u rounded-2x" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if (index + 1) % 4 == 0 && index < @providers.length - 1  %>
                                </div>
                                <hr>
                                <div class="row">
                            <% end %>
                        <% end %>
                    </div>
                    <hr>
                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->
